<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add food to your pantry!</title>
</head>
<body>
    <h1>Add a New Food Item</h1>
    <form action="/users/<%= user._id %>/foods" method="POST">
        <label for="name">Food:</label>
        <input type="text" name="name" id="name"/>

        <button type="submit">Add Food</button>
    </form>
</body>
</html>