<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>List of Users</h1>
    <p>Click on a user to see their pantry!</p>
    <ul>
        <% users.forEach((user) => { %>
            <a href="/users/<%= user._id %>">
            <li><%= user.username %></li>
            </a>
        <% }) %>
    </ul>
</body>
</html>